body {
    font-family: 'Roboto', sans-serif;
    background-color: #F3F3F3;
}

* {
    box-sizing: border-box;
}

strong {
    font-weight: 700;
}

.topo {
    max-width: 414px;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo img {
    width: 75px;
    height: 53px;
    object-fit: cover;
}

.topo ion-icon {
    font-size: 45px;
    color: black;
}

.conteudo {
    max-width: 414px;
    width: 100%;
    background-color: #F3F3F3;
    padding-bottom: 83px;
    margin-top: 80px;
}

.cinza {
    background-color: #dcdcdc;
}

.branca {
    background-color: #ffffff;
}

.rosa {
    background-color: #ffdede;
}

.conteudo .mensagem {
    max-width: 414px;
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 4px;
    border-radius: 2px;
    padding: 10px 8px;
}

.conteudo p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: black;
}

.conteudo span {
    color: #AAAAAA;
    margin-right: 4px;
}

.barra-inferior {
    max-width: 414px;
    width: 100%;
    min-height: 80px;
    background-color: #ffffff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-inferior ion-icon {
    font-size: 26px;
    color: black;
}

.barra-inferior input {
    width: 350px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: black;
    border: none;
}

.barra-inferior input:focus {
    outline: none;
  }

  .barra-inferior ::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    font-style: italic;
    color: black;
}

.barra-inferior p {
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #505050;
}

.escondido {
    display: none;
}

.aparecendo {
    display: flex;
}

.fundo {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    max-width: 414px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.lateral-esquerda {
    max-width: 155px;
    width: 100%;
    height: 100%;
}

.barra-lateral {
    background-color: #ffffff;
    max-width: 259px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: auto;
}

.barra-lateral p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: black;
}

.barra-lateral .cima {
    padding: 20px 30px;
}

.barra-lateral .titulo {
    padding: 18px 30px;
}

.barra-lateral .alinhamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 25px 8px 16px;
}

.barra-lateral .clicavel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 200px;
}

.clicavel ion-icon {
    font-size: 25px;
    margin-right: 8px;
    color: black;
}

.alinhamento > ion-icon {
    font-size: 20px;
    color: #28bb25;
}

.transparente {
    opacity: 0;
}

.opaco {
    opacity: 1;
}